<div ng-init="vm.get()">{{vm.counts=0}}
    <div ng-repeat="question in vm.questionData" style="margin-left:10%">
       <span>Question:{{vm.counts=vm.counts+1}}</span> <p class="question">{{question.question}}</p>
        <ul class="answers">
            <li ng-repeat="ans in vm.check(question.option)">
                <p>{{ans}}</p>
            </li>
            
        </ul>
        <li><img src="{{question.path}}"></li>
        <label for="q1a">Answer: {{vm.getChar(question.answer)}}</label>
        <br/>
    </div>

  
</div>
<style>
.answers li {
    list-style: upper-alpha;
}

label {
    margin-left: 0.5em;
    cursor: pointer;
}

#results {
    background: #dddada;
    color: 000000;
    padding: 3px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
}

#results:hover {
    background: #3d91b8;
    color: #ffffff;
    padding: 3px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
}

#categorylist {
    margin-top: 6px;
    display: none;
}

#category1,
#category2,
#category3,
#category4,
#category5,
#category6,
#category7,
#category8,
#category9,
#category10,
#category11 {
    display: none;
}

#closing {
    display: none;
    font-style: italic;
}
</style>
